<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p> This is an email confirming you are in line for student SLC drop-in session. Your wait position is <%= StudentRequest.where(:meet_type => 'drop-in', :status => 'waiting').count %> and your estimated help time is <%= StudentRequest.calculate_wait_time.strftime("%l:%M%P") %>. You will receive another email update 30 minutes before your appointment.
</body>
</html>