<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p> You are next in line for your SLC Drop-In appointment. Please be ready to be be picked up in 30 minutes.
</body>
</html>