
div#main{
	height:100vh;
}

#back-to-sign-in{
	position: absolute;
	margin-left: 12px;
	margin-top: 10px;
}

#slc-logo-pic{
	position: absolute;
}
#slc-logo-pic-2{
	position: absolute;
	margin-top: 20px;
}

#login-page-container{
	width:100%;
	height:100%;
	padding:0;
	overflow: hidden;
	-webkit-animation-delay: 0.20s;
}

#login-background-pic{
	width:100%;

}

#slc-form-container{
	position: absolute;
	width:360px;
	height: 220px;
	margin-top:180px;
	border: 0.5px solid #1b1e212b;
	padding:20px;
	border-radius: 0.8rem;
	left:0;
	right:0;
	background-color: #ffffffcf;
	-webkit-animation-delay: 0.10s;
}

#tutor_login_form{
	position: absolute;
	width:360px;
	height: 220px;
	margin-top:180px;
	border: 0.5px solid #1b1e212b;
	padding:20px;
	border-radius: 0.8rem;
	left:0;
	right:0;
	background-color: #ffffffcf;
	-webkit-animation-delay: 0.10s;
}

#slc-pass-title{
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 200;
	color: black;
	text-align: center;
	margin-top:20px;
}

.pass-container{
	width:196.2px;
	height:35px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

#slc-pass-label{
	background-color:white;
	color:black;
	border-style: solid;
	border-radius: 0.25rem;
	border-bottom-right-radius:0;
	border-top-right-radius:0;
	padding-left:0.5rem;
	padding-right:0.5rem;
	padding: 0.84rem;
	/*border:0;*/
	/*border-style: none solid none none;*/
	/*border-width: 0.5px; */
	/*border-color: #1b1e212b;*/
	border: 0.5px solid #1b1e212b;
}
/*33*/

#slc-pass-input{
	margin-left:32px;
	margin-top:-43px;
	margin-right: auto;
	border-style: solid;
	border-radius: 0.25rem;
	border-bottom-left-radius:0;
	border-top-left-radius:0;
	/*border:0;*/
	border: 0.5px solid #1b1e212b;
	padding: 0.6rem;
}

#submit-container{
	margin-top:16px;
	margin-right: auto;
	margin-left: auto;
	width:130px;
}

#slc-submit{
	width: 130px;
}
