
html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}

div#main {
  margin: 0;
  padding: 0 20px 20px;
}

a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}

#title-backdrop{
  width: 110%;
  margin-left: -20px;
  height: 4em;
  background-color: #3B7EA1;
  color: white;
  border-bottom: 4px solid gold;
}

#title-container{
  overflow: hidden;
  width: 100%;
}

h1.title1 {
  /*position: absolute;*/
  font-size: 2em;
  font-style: normal;
  font-family: inherit;
  font-weight: 200;
  font-size: 38px;
  /*color: white;*/
  color: #3B7EA1;
  margin-top: 0.8em;
  border-bottom: none;
  float: left;
  width: 140px;
}
h1.title2 {
  /*position: absolute;*/
  font-size: 2em;
  font-style: normal;
  font-family: inherit;
  font-weight: 300;
  font-size: 38px;
  /*color: white;*/
  color:gold;
  margin-top: 0.8em;
  border-bottom: none;
  float: left;
  width: 450px;
}

h1.subtitle{
  font-style: normal;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 0.9em;
  padding-bottom: 6px;
  border-bottom: 2px solid DarkSlateGrey;
  font-size: 28px;
}

.form-container{
  margin-top: 2em;
  width: 50%;
}

#schedule-options{
  width: 30%;
  float: left;
}

table.queue {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}

table.queue th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}

table.queue th, table#movies td {
  padding: 4px;
  text-align: left;
}

table.queue th.hilite {
  background-color: yellow;
}

#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}

form label {
  display: block;
  line-height: 25px;
  font-weight: 100;
  letter-spacing: 1px;
  color: maroon;
}

.radio.row{
  margin-bottom: 0.9em;
}

.label{
  margin-top: 0.9em;
  color: maroon;
}

.radio-signup{
  color: black;
  margin-top: 0.2em;
  margin-bottom: 0em;
}

.form_signup{
  margin-top: -0.2em;
}

#form-submit{
  width: 180px;
}

@font-face {
  font-family: 'FreigMicProLig';
  src:url('/FreightMicroPro/FreigMicProLig.otf');
}

@font-face {
  font-family: 'FreigSanProBlk';
  src:url('/FreightSansPro/FreigSanProBlk.otf');
}

@font-face {
  font-family: 'FreigTexProBlk';
  src:url('/FreightTextPro/FreigTexProBlk.otf');
}







